/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* variables */
:root {
  /* colors */
  --background-color: #faf9f6;
  --primary-color: #28282b;
  --secondary-color: #f6f3e3;
  --secondary-color-lighter: #f8f4ec;
  --accent-color: #9e301b;
  --dark-tint: #000;
  --dark-color: #0f0f0f;
  --dark-color-lighter: #333;
  --reviews-count: #777;
  --card-color: #f9f9f9;
  --dark-color-border: #ccc;
  --error-message: #ff0000;
  --green-color: #009e60;
  --table-color: #f4f4f4;
  --rating-color: #ffcc00;
  --pending-color: #ffa600;
  --shipped-color: #1c1cd6;
  --canceled-color: #ff2400;
  --cancel-color: #cc0000;
  --rating-empty: #ddd;
  --modal-color: #fff;
  --stat-color: #f3f4f6;
  --stat-name: #6b7280;
  --border-color: #e5e7eb;
  /* margins */
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;

  /* fonts */
  --body-font: "Open Sans", sans-serif;
  --font-size-heading: 2rem;
  --font-size-view: 1.8rem;
  --font-size-large: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.901rem;
  --smaller-font-size: 0.813rem;
  --font-extra-small: 0.7rem;
  --font-light: 300;
  --font-medium: 350;
  --font-bold: 700;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
