/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* variables */
:root {
  /* colors */
  --background-color: #faf9f6;
  --primary-color: #28282b;
  --secondary-color: #f6f3e3;
  --accent-color: #9e301b;
  --dark-color: #0f0f0f;

  /* margins */
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;

  /* fonts */
  --body-font: "Open Sans", sans-serif;
  --font-size-heading: 2rem;
  --font-size-large: 1.5rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --smaller-font-size: 0.813rem;
  --font-light: 300;
  --font-medium: 350;
  --font-bold: 700;

  /* z index */
  --z-tooltip: 10;
  --z-fixed: 100;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
