@import "./base.css";
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400&family=Quicksand:wght@400&display=swap");

* {
  font-family: var(--body-font);
  color: var(--text-color);
}

body {
  background: var(--background-color);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.section {
  padding: 2.5rem 0 1rem;
}

.navbar {
  background: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-radius: 5px;
  border-bottom: 1px solid var(--dark-color);
}

.navbar__title {
  font-size: var(--font-size-large);
  font-weight: var(--font-bold);
}

.navbar__link-title {
  font-size: var(--font-size-large);
  display: flex;
  align-items: center;
}

.navbar__logo-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-main {
  font-family: "League Spartan", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: var(--dark-color);
}

.logo-sub {
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 3px;
  color: var(--primary-color);
  margin-top: -4px;
}

.navbar__toggle {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.navbar__toggle-bar {
  width: 100%;
  height: 3px;
  background-color: var(--dark-color);
  transition: all 0.3s;
}

.navbar__toggle-bar.active:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.navbar__toggle-bar.active:nth-child(2) {
  opacity: 0;
}

.navbar__toggle-bar.active:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.navbar__links {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar__links li {
  margin: 0 15px;
}

.navbar__links a {
  text-decoration: none;
  color: var(--dark-color);
  font-size: var(--h3-font-size);
  padding: 10px 0;
}

.navbar__links--open {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background: var(--secondary-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: max-height 0.3s ease-in;
  z-index: 1000;
  padding: 20px 0;
}

.navbar__links--open li {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

.navbar__contact {
  display: flex;
}

.navbar__contact button {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.navbar__contact button:hover {
  background-color: var(--dark-color);
}

@media (max-width: 768px) {
  .navbar__link-title {
    font-size: var(--font-size-large);
  }
  .navbar__toggle {
    display: flex;
  }

  .navbar__links {
    display: none;
    transition: max-height 0.3s ease-in;
  }

  .navbar__links.navbar__links--open {
    display: flex;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
  }

  .navbar__contact {
    display: block;
  }
}

.hero {
  background: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 0;
  padding: 100px 20px;
}

.hero-content {
  max-width: 800px;
  margin-bottom: 40px;
}

.hero h1 {
  font-size: var(--font-size-heading);
  font-weight: var(--font-bold);
  margin-bottom: 20px;
}

.em {
  font-weight: var(--font-medium);
}

.highlight {
  color: var(--accent-color);
}

.hero p {
  font-size: var(--normal-font-size);
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  width: 100%;
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: var(--font-medium);
  cursor: pointer;
}

.btn-light {
  border: 1px solid black;
  color: black;
  background-color: transparent;
}

.btn-dark {
  background: var(--dark-color);
  color: var(--background-color);
  border: none;
}

.as-seen-on {
  margin-top: 20px;
  text-align: center;
}

.as-seen-on h2 {
  font-size: var(--font-size-large);
  margin-bottom: 10px;
  font-weight: var(--font-medium);
}

.hero-gallery {
  display: flex;
  gap: 80px;
}

.hero-gallery img {
  width: 80px;
  border-radius: 5px;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
}

@media (max-width: 768px) {
  .hero-content {
    max-width: 100%;
    padding: 0 20px;
  }

  .hero h1 {
    font-size: var(--h3-font-size);
  }

  .hero p {
    font-size: var(--smaller-font-size);
  }

  .hero-buttons {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .btn,
  .button-link {
    padding: 8px 16px;
    width: 100%;
    max-width: 300px;
  }

  .hero-gallery {
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-top: 30px;
  }

  .hero-gallery img {
    width: 50px;
    margin: 0 auto;
  }
}
