@import "./base.css";

* {
  background: var(--background-color);
  font-family: var(--body-font);
  color: var(--text-color);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1.2rem;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid var(--dark-color);
}

.navbar__title {
  font-size: var(--font-size-large);
  font-weight: var(--font-bold);
}

.navbar__link-title {
  font-size: var(--font-size-large);
}

.navbar__toggle {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.navbar__toggle-bar {
  width: 100%;
  height: 3px;
  background-color: var(--dark-color);
  transition: all 0.3s;
}

.navbar__toggle-bar.active:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.navbar__toggle-bar.active:nth-child(2) {
  opacity: 0;
}

.navbar__toggle-bar.active:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.navbar__links {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar__links li {
  margin: 0 15px;
}

.navbar__links a {
  text-decoration: none;
  color: var(--dark-color);
  font-size: var(--h3-font-size);
  padding: 10px 0;
}

.navbar__links--open {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: max-height 0.3s ease-in;
  z-index: 1000;
  padding: 20px 0;
}

.navbar__links--open li {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

.navbar__contact {
  display: flex;
}

.navbar__contact button {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.navbar__contact button:hover {
  background-color: var(--dark-color);
}

@media (max-width: 768px) {
  .navbar__title {
    font-size: var(--normal-font-size);
  }
  .navbar__toggle {
    display: flex;
  }

  .navbar__links {
    display: none;
    transition: max-height 0.3s ease-in;
  }

  .navbar__links.navbar__links--open {
    display: flex;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
  }

  .navbar__contact {
    display: block;
  }
}
